.logo__img{
      width: 120px;
      height: 25px;
}
a{
      text-decoration: none;
}
.nav__design{
      color: rgb(212, 60, 60);
      font-weight: 700;
}
.nav__design:hover{
      color: rgb(156, 11, 11);
    
}